@charset "utf-8";

/* 스타일 초기화 */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
em,
img,
q,
strong,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ul {
  list-style-type: none;
}
button {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS 모듈 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* 본문 스타일 */
html {
  font-size: 12px;
}
body {
  color: #181818;
  font-family: 'source-han-serif-korean', serif;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -0.05em;
}
/* 하이퍼링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 레이아웃 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
